SLOT=$(./currentSlot.sh)

PAYMENT_ADDRESS=
COLD_SKEY=
COLD_VKEY=
PAYMENT_SKEY=
VRF_VKEY=
STAKE_VKEY=

getInputTx

FEE=186929

CHANGE="$(($SELECTED_UTXO_LOVELACE-$FEE))"
TTL_PLUS="$(($SLOT+1500))"

PLEDGE=1000000000 \
COST=340000000 \
MARGIN=0.05 \
RELAY_IP=
RELAY_PORT=3000

METADATA_URL=

